# config is machine specific
config.ini

# emacs temp files
*~
\#*\#

# python bytecode
**/__pycache__/*

# unversioned files as detected by pycharm
.idea/
resources/images/
test/.cache/
/resources/saved_models/*

# pycache stuff
src/__pycache__/
src/utility/__pycache__/
resources/saved_models/
test/test_resources/
